<header class="header">
  <section class="intro-text">
    <div class="container">
      <h1>One Mission: To give people the power to manage their finances by making it clearer and more transparent.</h1>
      <div align="center"><img src="https://www.piggyvest.com/sitestatics/img/mission-illustration-700-min.png" class="img-700"></div>
      <p>Our core team brings together top class talent from the worlds of finance, tech and beyond, representing a strong combination of proven skills and passion to ensure that everyone can better manage their finances.</p>
    </div>
  </section>
</header>

<section class="about-content">
  <div class="container">
    <h1>We Are Known For</h1>
    <div class="principle">
      <div class="principle-text">
        <img src="https://www.piggyvest.com/sitestatics/img/transparency-min.png" alt="">
        <h3><span>T</span>ransparency</h3>
      </div>
      <div class="principle-text">
        <img src="https://www.piggyvest.com/sitestatics/img/innovation-min.png" alt="">
        <h3><span>C</span>larity</h3>
      </div>
      <div class="principle-text">
        <img src="https://www.piggyvest.com/sitestatics/img/integrity-min.png" alt="">
        <h3><span>E</span>ase</h3>
      </div>
      <div class="principle-text">
        <img src="https://www.piggyvest.com/sitestatics/img/Efficiency-min.png" alt="">
        <h3><span>I</span>nnovation</h3>
      </div>
    </div>
    <a href="FAQS.html" class="btn-blue">Visit FAQs</a>
  </div>
</section>
