<header class="story-header">
  <section class="story-header-margin">
    <div class="container new-shit">
      <h1>Amazing Stories from Amazing Customers</h1>
      <p>Stories of happy savers who Akiba has helped or is helping save for what truly matters to them.</p>

      <a href="#" class="btn"><b>Add Your Own Story</b></a>

    </div>
  </section>
</header>

<div class="content stories">
  <div class="container minicontainer">

    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>

    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>
    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>
    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>
    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>
    <div class="story">
      <div class="avatar" style="background-image: url('https://storage.googleapis.com/piggybankservice.appspot.com/_story_pics/ava1a327855f0.jpg');">.</div>
      <div class="card">
        <div class="name"><a href="https://www.Akiba.com/stories/story/9a72055a028a?utm_source=mypiggybankstorypage&amp;utm_content=mypiggybankstory&amp;utm_campaign=mypiggybankstory">Loveleen Wanjiku</a></div>
        <p class="_margin-20">
          "Akiba is an amazing app. I have saved
          passively towards my business and now I have
          the money I need to expand my business."<span class="tinystorytime"><i>Posted on Friday, 24th of May 2019 by 14:34 PM</i></span>
        </p>
      </div>
    </div>


    <!--
    <div class="_margin-50 _center">
      <a href="/stories" class="btn">Load More Stories</a>
    </div>
  -->
  </div>
</div>

<section class="brag">
  <div class="container">
    <h1>Over KES 1,000,000,000 securely saved every month.</h1>
    <p>
      Akiba uses bank-level security measures to keep your data safe. Akiba users save &amp; invest well over a billion every single month, and they are just getting started.
    </p>
    <a href="#" class="blue-btn">Create Account for Free</a>

    <div class="clear"></div>
    <a href="#" target="_blank">
      <img height="40px" margin-top="50px" src="https://www.Akiba.com//images/iosbadge-101-image.png" class="download app_store_badges">
    </a>
    <a href="#" target="_blank">
      <img height="40px" margin-top="50px" src="https://www.Akiba.com//images/google-play-badge.png" class="download app_store_badges">
    </a>

  </div>
</section>

