
<nav class="navbar">
  <a href="https://Akiba.com" class="logo">
    <img src="./assets/images/Akibalogo.png" alt="Akiba logo">
  </a>
  <ul class="nav-links">
    <li class="nav-item"><a routerLink="/home">Home</a></li>
    <li class="nav-item"><a routerLink="/about">About Us</a></li>
    <li class="nav-item"><a routerLink="/products">Products</a></li>
    <li class="nav-item"><a routerLink="/save">Save</a></li>
    <li class="nav-item"><a routerLink="/stories">Stories</a></li>

    <!--
      <li class="nav-item"><a routerLink="/contact">Contact</a></li>
  <li class="nav-item"><a routerLink="/gallery">Gallery</a></li>
  <li class="nav-item"><a routerLink="/csr">Csr</a></li>
  <li class="nav-item"><a routerLink="/blog">Blog</a></li>-->
    <li class="nav-item"><a routerLink="/faq">Faq</a></li>
    <li class="nav-item"><a routerLink="/login">Login</a></li>
    <li class="nav-item"><a routerLink="/register">Register</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
