<div align="center" class="_margin-50 _margin-b-20">

  <div align="left" class="mainactionbutton">
    <div class="introbox">
      <div class="onboard_introbox_image"><img src="https://storage.googleapis.com/piggybankservice.appspot.com/statics/intro_onboard_invest.png"></div>
      <h2>An investment is the purchase of an asset or financial security
      with an intention to generate a good return on investment, hence
      selling it at a profit.      With Akiba app you can access different
      investment products such as:</h2>
      <div class="onboard_introbox_list">
        <ul>
          <li>
            Equities</li>
          <li>
            Fixed Income
          </li>
          <li>
            Securities
          </li>
          <li>
            Treasury Bonds
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div align="left" class="mainactionbutton zig">
    <form action="" method="post">
      <input type="hidden" name="amount" id="amount49a6544e2786" value="100">
      <div class="dynamichtml"></div>
      <div class="dynamichtml"></div>
      <div class="form-group form-grouplast">
        <div style="text-align:center; font-size:10px;line-height: 15px;padding-bottom: 10px;">To get started, we will attempt to charge your debit card with ₦100 only to verify it is valid. We will refund your bank account immediately.</div>
        <input type="hidden" name="activate" value="1">
        <button type="button" class="btn btn-block btn-large btn-success green wide firstdeposit49a6544e2786">Verify My Card</button>
      </div>
    </form>
  </div>
  <div class="tinytext">
    Akiba uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected.						<br>
    <img src="https://www.piggybank.ng/images/allbankscardspiggybankNG-min.png" title="Cards accepted" style="max-width: 180px;width: 90%;">
  </div>
  
  <br>
  <br>
  <br>
</div>
<header class="header">
  <section class="intro-text fornheadertext">
    <div class="container" style="padding-bottom: 20px;">
      <div class="profileuser">
        <!--
        <h1 class="_margin-50 _margin-b-20 _middle boldtext">

                Udale-ameh, make your first savings											</h1>
                        -->
        <div align="center" class="_margin-50 _margin-b-20">
          <!--

          -->
          <div align="left" class="mainactionbutton">
            <div class="introbox">
              <div class="onboard_introbox_image"><img src="https://storage.googleapis.com/piggybankservice.appspot.com/statics/intro_onboard_save.png"></div>
              <h2 class="onboard_introbox_title"> Build your savings on your terms using our “Piggybank” wallet.</h2>
              <div class="onboard_introbox_list">
                <ul>
                  <li> • Save daily, weekly or monthly with Autosave.</li>
                  <li> • Four free withdrawal days to build savings discipline*</li>
                  <li> • Earn 10% per annum on savings.</li>
                </ul>
              </div>
              <div class="onboard_introbox_basetext">*Withdrawals made from your “Piggybank” wallet outside your set withdrawal days attract a 5% breaking fee to promote discipline.</div>
            </div>
          </div>
          <div class="dashholder">
            <div>
              <div class="realcard">
                <span>New Balance</span>
                <div class="newbalancehtml">KES</div>
              </div>
            </div>
          </div>
          <div align="left" class="mainactionbutton zig ">
            <form action="" method="post">
              <label class="form-label leftlabel"><b>Enter any amount</b></label>
              <input type="number" class="inputcontrol largetext largetextcenter" name="amount" id="amount38343a9dbf6e" value="" autocomplete="off" required="" placeholder="e.g 1000">
              <br>
              <div class="dynamichtml"></div>
              <br>
              <div class="dynamichtml"></div>
              <div class="form-group form-grouplast">
                <div style="text-align:center; font-size:10px;line-height: 15px;padding-bottom: 10px;">All funds go to your “Akiba” wallet on Akiba</div>
                <input type="hidden" name="activate" value="1">
                <button type="button" class="btn">Make Your First Savings</button>
              </div>
            </form>
          </div>
          <div class="tinytext">
            Akiba uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected.						<br>
            <img src="https://www.piggybank.ng/images/allbankscardspiggybankNG-min.png" title="Cards accepted" style="max-width: 180px;width: 90%;">
          </div>
          
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>
</header>

<div align="center" class="_margin-50 _margin-b-20">
  <div align="left" class="mainactionbutton">
    <div class="introbox">
      <div class="onboard_introbox_image"><img src="https://storage.googleapis.com/piggybankservice.appspot.com/statics/intro_onboard_lock.png"></div>
      <h2 class="onboard_introbox_title">lock funds away for a fixed period using our “Safelock” feature.</h2>
      <div class="onboard_introbox_list">
        <ul>
          <li> • Works like a fixed deposit.</li>
          <li> • Set the desired duration to lock funds</li>
          <li> • Access funds on maturity.</li>
          <li> • Earn up to 13% interest p.a, paid upfront.</li>
        </ul>
      </div>
    </div>
  </div>
  <div align="left" class="mainactionbutton zig">
    <form action="" method="post">
      <input type="hidden" name="amount" id="amount84453223af65" value="100">
      <div class="dynamichtml"></div>
      <div class="dynamichtml"></div>
      <div class="form-group form-grouplast">
        <div style="text-align:center; font-size:10px;line-height: 15px;padding-bottom: 10px;">To get started, we will attempt to charge your debit card with ₦100 only to verify it is valid. We will refund your bank account immediately.</div>
        <input type="hidden" name="activate" value="1">
        <button type="button" class="btn">Get Started</button>
      </div>
    </form>
  </div>
  <div class="tinytext">
    Akiba uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected.						<br>
    <img src="https://www.piggybank.ng/images/allbankscardspiggybankNG-min.png" title="Cards accepted" style="max-width: 180px;width: 90%;">
  </div>
  
  <br>
  <br>
  <br>
</div>
