<!--<div class="progresscontainer">
  <div class="line bs-wizard" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step active">
      <div class="text-center bs-wizard-stepnum">&nbsp;</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Sign Up</div>
    </div>

    <div class="col-xs-4 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">&nbsp;</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Set Withdrawal Bank</div>
    </div>
    <div class="col-xs-4 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">&nbsp;</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Activate</div>
    </div>
  </div>
</div>-->

<header class="header">
  <section class="intro-text fornheadertext">
    <div class="container" style="padding-bottom: 20px;">
      <div class="profileuser">
        <!--
        <h1 class="_margin-50 _margin-b-20 _middle boldtext">

                Udale-ameh, make your first savings											</h1>
                        -->
        <div align="center" class="_margin-50 _margin-b-20">
          <!--

          -->
          <div align="left" class="mainactionbutton">
            <div class="introbox">
              <div class="onboard_introbox_image"><img src="https://storage.googleapis.com/piggybankservice.appspot.com/statics/intro_onboard_save.png"></div>
              <h2 class="onboard_introbox_title">Build your savings on your terms using our “Piggybank” wallet.</h2>
              <div class="onboard_introbox_list">
                <ul>
                  <li> • Save daily, weekly or monthly with Autosave.</li>
                  <li> • Four free withdrawal days to build savings discipline*</li>
                  <li> • Earn 10% per annum on savings.</li>
                </ul>
              </div>
              <div class="onboard_introbox_basetext">*Withdrawals made from your “Akiba” wallet outside your set withdrawal days attract a 5% breaking fee to promote discipline.</div>
            </div>
          </div>
          <div class="dashholder">
            <div>
              <div class="realcard">
                <span>New Balance</span>
                <div class="newbalancehtml">KES0</div>
              </div>
            </div>
          </div>
          <div align="left" class="mainactionbutton zig ">
            <form action="" method="post">
              <label class="form-label leftlabel"><b>Enter any amount</b></label>
              <input type="number" class="inputcontrol largetext largetextcenter" name="amount" id="amount38343a9dbf6e" value="" autocomplete="off" required="" placeholder="e.g 1000">
              <br>
              <div class="dynamichtml"></div>
              <br>
              <div class="dynamichtml"></div>
              <div class="form-group form-grouplast">
                <div style="text-align:center; font-size:10px;line-height: 15px;padding-bottom: 10px;">All funds go to your “Akiba” wallet on Akiba</div>
                <input type="hidden" name="activate" value="1">
                <button type="button" class="btn">Make Your First Savings</button>
              </div>
            </form>
          </div>
          <div class="tinytext">
            Akiba uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected.						<br>
            <img src="https://www.piggybank.ng/images/allbankscardspiggybankNG-min.png" title="Cards accepted" style="max-width: 180px;width: 90%;">
          </div>
         
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>
</header>
