<main>
  <section class="hero cali-portrait">
    <div class="container flex--container flex-center">
      <div class="hero__description">
        <h1 class="big-hero__heading">smarter is better</h1>
        <p class="display-none-when-sm display-block-when-lg">
          From the money you need today to the money you're saving for
          tomorrow and beyond,
        </p>
        <p>
          Akiba is your smart money manager, built to help you make the
          most of it.
        </p>
        <a class="btn-get--started" routerLink="/register">Get started</a>
      </div>
    </div>
  </section>

  <section class="display-none-when-lg">
    <div class="container">
      <div class="image-container">
        <img src="./assets/images/buki_cali_couch_phone_ring.webp" alt="A man and a woman sitting on a couch taking a picture
							on a smartphone, with the woman showing off her engagement ring" />
      </div>
      <div class="content-layout secondary-nav">
        <a href="#" class="secondary-nav-links">
          <p>Cash</p>
          <span class="svg-container">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
										5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>

        <a href="#" class="secondary-nav-links">
          <p>Investing</p>
          <span class="svg-container">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
										5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>

        <a href="#" class="secondary-nav-links">
          <p>Retirement</p>
          <span class="svg-container">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
										5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>

        <a href="#" class="secondary-nav-links">
          <p>FAQs</p>
          <span class="svg-container">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
										5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="bg-color-blue text-center color-white">
    <div class="container">
      <div class="content">
        <p>
          Financial institutions should work harder for you. For everyone.
          That's why we started Akiba a decade ago, and it's why we
          haven't stopped working for you ever since.
        </p>
      </div>
    </div>
  </section>

  <section class="display-none-when-sm display-block-when-lg bg-color-white">
    <div class="container content-layout product--save">
      <div class="product--save__summary">
        <h2 class="secondary--heading color-black">
          Save and spend with confidence.
        </h2>
        <p class="product__description">
         Akiba is our cash management suite that helps you
          make the most of your everyday money.
        </p>
        <a routerLink="/home"class="container--flex product--link">
          Meet Akiba™
          <span class="svg-container product--link__icon">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
										5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>
      </div>
      <div class="product--image__container">
        <img src="./assets/images/phone_card_iso_coming_soon.webp" alt="Akibas visa debit card next to a
							smartphone with the Akiba mobile app on it" />
      </div>
    </div>
  </section>

  <section class="display-none-when-sm display-block-when-lg bg-color-grey">
    <div class="container content-layout product--invest">
      <div class="product--invest__image">
        <img src="./assets/images/buki_cali_couch.webp" alt="A man and a woman sitting on a couch,
							both are laughing." />
      </div>
      <div class="invest__summary">
        <h2 class="secondary--heading color-black">
          Invest smarter for a comfortable tomorrow.
        </h2>
        <p>
          Since 2010, we've worked to make investing more efficient and
          accessible using technology and Nobel Prize‐backed research.
        </p>
        <ul class="product--brief">
          <li class="product--brief__item">Built-in financial guidance</li>
          <li class="product--brief__item">Tax Smart technology</li>
          <li class="product--brief__item">Transparent 0.25% annual fee</li>
        </ul>
        <a routerLink="/products" class="container--flex product--link">
          Investing with
          Akiba
          <span class="svg-container product--link__icon">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
											5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="display-none-when-sm display-block-when-lg bg-color-blue color-white">
    <div class="container content-layout secure--future">
      <div>
        <h2 class="secondary--heading">
          Build a secure future with a retirement plan.
        </h2>
        <p>
          No matter your age or situation, we can help you build a plan for
          life after work. We'll help you determine how much to save and
          automatically invest your contributions.
        </p>
        <ul class="product--brief">
          <li class="product-securefuture--brief__item">
            A retirement plan tailored to you
          </li>
          <li class="product-securefuture--brief__item">
            You could earn an estimated
            <a class="inherit-color link--underline" routerLink="/save">
              38%
              more
            </a>
            over 30 years
          </li>
          <li class="product-securefuture--brief__item">
            0.25% annual fee and no minimum balance
          </li>
        </ul>
        <a routerLink="/products"
           class="container--flex product--link inherit-color link--underline">
          Retiring with Akiba
          <span class="svg-container product--link__icon">
            <svg viewBox="0 0 16 16">
              <polygon points="3.781 14.586 10.364 8.003 3.787 1.413
											5.204 0 13.191 8.003 5.195 16"></polygon>
            </svg>
          </span>
        </a>
      </div>
      <div>
        <h3 class="heading--h3">
          You could earn an estimated 38% more over 30 years
        </h3>
      </div>
    </div>
  </section>

  <section class="display-none-when-sm display-block-when-lg section-layout CooperBukiCouch">
    <div class="container content-layout">
      <div class="get--started">
        <h2 class="secondary--heading color-black">
          Ready to make the most of your financial life?
        </h2>
        <a class="btn-get--started" href="#">Get started</a>
      </div>
    </div>
  </section>

  <section class="section-layout text-center bg-color-white">
    <div class="container content-layout details--container">
      <h2 class="secondary--heading color-black">
        Getting into the details
      </h2>
      <div class="details--content">
        <details>
          <summary>Pricing with Akiba</summary>
          <p>
            Akiba™ Savings has no fees on your account
            balance.
            <a routerLink="/faq">
              Learn more about how we earn money
            </a>.
          </p>
          <p>
            Akiba Checking has no monthly maintenance fees, no
            overdraft fees, no minimum balance, and ATM fees are reimbursed.
          </p>
          <p>
            Investing and Retirement have an annual fee of 0.25% per year on
            your balance—or about $25 per year for every $10,000 invested.
          </p>
          <p>
            None of our accounts require a minimum balance, ever. The
            minimum deposit is $10.
          </p>
        </details>

        <details>
          <summary>Help with your account or finances</summary>
          <p>
            Our
            <a routerLink="/contact">
              customer support team
            </a>
            is available seven days a week to answer questions about your
            account.
          </p>
          <p>
            If you want in-depth financial advice, you can talk to a
            certified advisor by phone. Our
            <a href="https://www.Akiba.com/pricing/"> Premium plan</a>
            provides you with unlimited access and costs 0.40% per year on
            your invested balances.
          </p>
          <p>
            We also offer
            <a href="https://www.Akiba.com/financial-experts/">
              advice packages
            </a>
            for needs of all kinds, starting at $199.
          </p>
        </details>

        <details>
          <summary>Account security and privacy</summary>
          <p>
            We take the security of our customers' accounts seriously. We
            employ strong browser encryption, secure data storage, and more.
            For details, read about our
            <a href="https://www.Akiba.com/security/">
              security practices
            </a>.
          </p>
          <p>
            We respect and protect the privacy of your information and will
            never share your data with a third party without your
            permission. Learn more about our
            <a href="https://www.Akiba.com/security/privacypolicy/">
              Privacy Policy
            </a>.
          </p>
        </details>

        <details>
          <summary>Satisfaction guaranteed</summary>
          <p>
            We're committed to providing you with a great financial
            experience. If you're not completely satisfied, we'll do
            <a href="https://www.Akiba.com/satisfaction-guarantee/">
              everything we can
            </a>
            we'll do everything we can to make it right.
          </p>
        </details>
      </div>
    </div>
  </section>
</main>
